.adContent {
    white-space: pre-wrap;
    font-size: small;
}

.adImg {
    width: 50%;
    height: 50%;   
}


.titleMessage {
    display: none;
}
.costMessage {
    display: none;
}
.contentMessage {
    display: none;
}

h5 {
    font-weight: bold;
}

.red {
    color: red;
    font-size: small;
}