.form {
  height: 1000px;
  margin-top: 20px;
}

.form h5 {
  color: white;
}

.adContent {
  white-space: pre-wrap;
  font-size: large;
  color: black;
}

.aDContent {
  white-space: pre-wrap;
  font-size: large;
  color: black;
}

.adImg {
  width: 50%;
  height: 50%;   
}

.titleMessage {
  color : #ffffff;
  display: none;
}

.costMessage {
  color : #ffffff;
  display: none;
}

.contentMessage {
  color : #ffffff;
  display: none;
}

h5 {
  font-weight: bold;
}

.require {
  color: red;
  font-size: small;
}

.exchange {
  margin: auto;
  align-items: center;
  padding: auto 10px;
  width: 20px;
  height: 20px;
}

.upload_btn {
  padding: 10px 30px;
  border-radius: 15px;
  background: none;
  color: inherit;
  border: 3px solid white;
}

.upload_btn span {
  color: white;
}

