/* ListPage css */
.list_container {
  margin-top: 200px;
  height: 1000px;
}

.list_container h5 {
  color: black;
  text-align: center;
}

.list_card {
  margin-top: 75px;
}

.item {
  text-align: center;
}

.noresultant {
  color: white;
  text-align: center;
  margin-top: 30px;
}

/* supplierList css */
.supplierList_container {
  position: relative;
  height: 1000px;
}

.supplierList_container h1 {
  color: white;
  margin-bottom: 20px;
}

.supplierList-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 150px));
  padding:20px 0;
  gap: 40px;
}

.supplierList-content_card-container  {
  text-align: center;
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #0c0b1473;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background-color: #ffffff;
}

.supplierList-content_card-container:hover {
  transform: scale(1.1);
}

/* clientList css */
.clientList_container h1 {
  color: white;
  margin-bottom: 20px;
}

.clientList-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(230px, 150px));
  padding:20px 0;
  gap: 40px;
  margin-top: 20px;
}

.clientList-content_card-container  {
  text-align: center;
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #0c0b1473;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background-color: #ffffff;
}

.clientList-content_card-container:hover {
  transform: scale(1.1);
}
.clientList_companyname {
  margin-top: 10px;
}

/* adList css */
.adList_container h1 {
  color: white;
  margin-bottom: 20px;
}

.adList-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 220px));
  padding:20px 0;
  gap: 45px;
  justify-content: center;
}

.adList-content_card-container {
  text-align: center;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #0c0b1473;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background: -webkit-linear-gradient(#ece9e6, #ffffff);
}
.adList-content_card-container:hover {
  transform: scale(1.1);
}

.adList-content_card-container img {
  margin-bottom: 10px;
}

.adList_img {
  height: 192px;
}

