

.sbtContainer {
    margin-top: 50px;
    display: block;
    margin-bottom: auto;
    padding: 10px;
    background-size: cover;
}

.sbtTitle {
    color: white;
    font-weight: bold;
}

.sbt-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 220px));
    padding:20px 0;
    gap: 100px;
    justify-content: center;
}

.sbt-content_card-container {
    text-align: center;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
  }
  .sbt-content_card-container:hover {
    transform: scale(1.1);
  }

.sbtAdTitle {
    font-weight: bold;
    color: black;
}