

.sbtBack {
    background-color: aqua;
    width: 100vh;
}

.sbtContainer {
    margin-top: 30px;
    display: block;
    margin-bottom: auto;
    padding: 10px;
}

.sbtTitle {
    color: white;
    font-weight: bold;
}

.sbt-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 220px));
    padding:20px 0;
    gap: 100px;
    justify-content: center;
}

.sbt-content_card-container {
    text-align: center;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 4px #0c0b1473;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    background: -webkit-linear-gradient(#ece9e6, #ffffff);
  }
  .sbt-content_card-container:hover {
    transform: scale(1.1);
  }

.sbtAdTitle {
    font-weight: bold;
    color: black;
}