/* Ad css */
.adDetail_container {
  position: relative;
  color: white;
  height: 1000px;
  margin-top: 200px;
}

.adDetail_company_card {
  color: black;
  text-align: center;
}

.adDetail_card {
  color: black;
  text-align: center;
}

.adDetail_card img {
  justify-content: center;
}


.adGo span {  
  color: white;
}

.adGo_btn {
  margin-top: 30px;
  margin-right: 40px;
  padding: 10px 30px;
  border-radius: 15px;
  background: none;
  border: 3px solid white;
}

.adGo_btn:hover {
  transform: scale(1.1);
}

/* Client css */
.ClientDetail_container {
  color: white;
}

/* Supplier css */
.supplierDetail_container {
  color: white;
}

/* Upload css */
.upload_container {
  margin-top: 100px;
}

