@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Ad css */
.adDetail_container {
  display: flex;
  position: relative;
  color: white;
  margin-top: 130px;
  width: 100%;
  justify-content: center;
  font-family: "Montserrat";
  min-height: 1000px;
}

.adDetail_row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.adDetail_company_card {
  color: black;
  text-align: center;
}

.adDetail_card {
  color: black;
  white-space: pre-wrap;
  font-size: large;
}

.adGo span {  
  color: black;
}

.adGo_btn {
  padding: 10px 30px;
  border-radius: 15px;
  background: none;
  border: 3px solid black;
  margin-left: 27%;
}

.adGo_btn:hover {
  transform: scale(1.1);
}

.adDetail_Img {
  margin-bottom: 20px;
}

.adDetail_card_img {
  width: fit-content;
  height: 300px;
}

.adDetail_Title {
  color: white;
  font-weight: bolder;
}

.adDetail_Content {
  color: white;
  font-size: large;
}

.adDetail_info_card {
  width: 300px;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  position: fixed;
}

.infoCardTitle {
  font-weight:  bold;
  color: black;
  padding-bottom: 0px;
  text-align: center;
}

.infoCardContent {
  color: black;
  margin: auto;
  text-align: center;
}

.infoCardHeader {
  color: black;
  display: inline-block;
}

.vsKrw {
  padding-top: 0px;
  color: black;
  font-size: small;
  text-align: center;
}

/* Client css */
.clientDetail_container {
  position: relative;
  min-height: 1000px;
  margin-top: 130px;
  width: 800px;
  color: white;
  font-family: "Montserrat";
}

.clientDetail_card-container {
  color: black;
  text-align: center;
  padding: 20px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  background-color:#ffffff;
}

.avatar {
  margin-right: 20px;
}

.clientDetail_title {
  margin: 20px;
}

.clientDetail_text {
  margin: 25px 25px;
}

.clientDetail-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 300px));
  padding:20px 0;
  gap: 45px;
  justify-content: center;
}

.clientDetail-content_card-container  {
  color: black;
  text-align: center;
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px #0c0b1473;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  background-color:#ffffff;
}

.clientDetail-content_card-container:hover {
  transform: scale(1.1);
}

.clientIntro {
  white-space: pre-wrap;
  text-align: left;
  line-height: 2;
  margin-left: 40px;
  margin-right: 40px;
}

/* Supplier css */
.supplierDetail_container {
  position: relative;
  min-height: 1000px;
  margin-top: 130px;
  font-family: "Montserrat";
}

.supplierDetail-content_card-container  {
  width: 900px;
  margin-left: 15%;
  color: black;
  text-align: center;
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #0c0b1473;
  box-shadow: 1px 1px 8px 8px #0c0b1473;
  font-size: 18px;
  position: relative;
  background-color:#ffffff;
}

.supplierDetail_title {
  padding: 20px;
}

.supplierDetail_col-center {
  justify-content : center;
  display: flex;
  align-items: center;
}

.supplierDetail_col-textleft {
  text-align : left;
}

.supplierDetail_cardText {
  text-align : left;
}

.supplierDetail_cardText>a {
  text-decoration: none;
}

.supplierDetail_cardText-email {
  text-align : left;
  cursor: pointer;
}

.youtubeVideo {
  display: grid;
  grid-template-columns: repeat(3, minmax(340px, 220px));
  padding:20px 0;
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
}

.playlist_card-container {
  text-align: center;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #0c0b1473;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  color: #ffffff;
}

.playlist_card-container img {
  margin-bottom: 10px;
}
