/* login */
.loginPage_container {
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 50px;
  margin-top: 120px;
  margin-bottom: 500px;
}

.login_tab li > button {
  color: white;
  font-size: large;
  font-weight: 500;
}

.login_tab li > button:hover {
  background-color: gray;
  color: white;
}

.login_inputArea {
  margin: auto;
  padding: 30px;
  width: 600px;
}

.login_text {
  color: white;
}

.login_buttonArea {
  margin: 50px;
  padding-left: 50px;
}

.login_button {
  margin: auto;
  width: 150px;
  height: 50px;
  background-color:  transparent;
  border-color: white;
  border-radius: 50px;
  border-width: 3px;
  font-size: large;
  color:  white;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
} 

.login_button:hover{
  color: black;
  box-shadow: 0px 0px 40px 40px white inset;
}

.login_googleIcon {
  margin-right: 10px;
  border-radius: 100%;
}

.login_googleSignupButton {
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 60px;
  border-radius: 100px;
  border-color: gray;
  border-width: 4px;
  font-weight: 500;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.login_googleSignupButton:hover{
  color: white;
  box-shadow: 0px 0px 40px 40px black inset;
}

/* signup */
.signup_container {
  box-sizing: border-box;
}

.signup_tab {
  margin-top: 30px;
}

.signup_tab li > button {
  color: gray;
  font-size: large;
  font-weight: 400;
}

.signup_tab li > button:hover {
  background-color: gray;
  color: white;
}

.signup_inputArea {
  margin-top: 30px;
}

.signup_walletButton {
  font-weight: 500;
  font-size: large;
}

.signup_lowerArea {
  margin-top: 40px;
  margin-bottom: 40px;
}

.signup_button {
  margin-top: 50px;
  background-color: transparent;
  width: 130px;
  height: 50px;
  font-weight: 600;
  font-size: large;
  color: gray;
  border-radius: 10px;
  border-width: 4px;
  border-color: darkgray;
}

.signup_button:hover {
  color: rgba(0, 0, 0, 0.763);
}