.profile_container {
  box-sizing: border-box;
  background-color: antiquewhite;
  border-radius: 30px;
  padding: 30px;
  width: 100px;
  height: 500px;
}

.profile_name {
  padding: 10px;
  text-align: center;
}