.status_name {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.status_count {
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

.status-content_card-container {
  text-align: center;
  padding: 20px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background-color: white;
}
