.status_container {
  box-sizing: border-box;
  background-color: cornsilk;
  border-radius: 30px;
  padding: 30px;
  height: 250px;
}

.status_name {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}

.status_count {
  font-size: 40px;
  text-align: center;
  padding: 15px;
}