/* Nav css */
.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex; 
}

.nav_logo {
  display: flex;
  margin-left: 40px;
}

.navlogin_btn span {  
  color: white;
}

.navlogin_btn {
  padding: 6px 25px;
  margin-top: 10px;
  border-radius: 15px;
  background: none;
  color: inherit;
  border: 3px solid white;
}

.navllgout_btn span {  
  color: white;
}

.navllgout_btn {
  padding: 6px 25px;
  margin-top: 10px;
  border-radius: 15px;
  background: none;
  color: inherit;
  border: 3px solid white;
}

/* Footer css */
.footer {
  padding: 40px;
  text-align: center;
  color: white;
}

/* Emptypage css */
.emptypage {
  height: 1000px;
}
