/* Nav css */
.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex; 
}

.nav_logo {
  display: flex;
  margin-left: 40px;
}

.navlogin_btn span {  
  color: white;
}

.navlogin_btn {
  padding: 6px 25px;
  margin-top: 10px;
  border-radius: 15px;
  background: none;
  color: inherit;
  border: 3px solid white;
}

.navllgout_btn span {  
  color: white;
}

.navllgout_btn {
  padding: 6px 25px;
  margin-top: 10px;
  border-radius: 15px;
  background: none;
  color: inherit;
  border: 3px solid white;
}

/* Footer css */
.footer_container {
  padding: 40px;
  text-align: center;
  color: white;
}

/* Emptypage css */
.emptypage {
  height: 1000px;
}

/* Loading css */
/* .Loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 32;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);;
  animation: hideLoadingScreen 0.3s linear forwards;
  animation-delay: 0.7s;
}

@keyframes hideLoadingScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
} */


