
.clientMypage_container {
  /* position: relative; */
  margin-top: 200px;
  min-height: 1000px;
}

.clientMypage_row h1 {
  color: white;
  margin-bottom: 30px;
}


.clientSide_btn span {  
  color: white;
}

.clientSide_btn {
  width: 200px;
  padding: 10px 50px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: none;
  color: inherit;
  border: 3px solid white;
}

.clientSide_btn:hover {
  transform: scale(1.1);
}

.clientMypage_accordion {
  margin-top: 20px;
}

/* management */
.management_container {
  margin: auto;
}

.channelUrl {
  text-decoration: none;
  color: rgba(65, 61, 61, 0.834)
}

.divider_solid {
  border-top: 2px solid #999; 
}

/* stage0 */
.stage0_ImgArea {
  margin: 10px 0px 20px 10px;
}

.stage0_buttonArea {
  margin: auto;
  width: 180px;
}

/* stage1 */
.stage1_contentArea {
  height: 80px;
  display: flex;
}

.stage1_contentArea div {
  margin: auto;
  color: rgb(8, 110, 161);
  font-size: large;
}

/* stage2 */
.stage2_contentArea {
  height: 80px;
  display: flex;
}

.stage2_contentArea div {
  margin: auto;
  text-decoration: none;
}

.stage2_contentArea div a {
  text-decoration: none;
  font-size: large;
}

/* stage3 */
.stage3_contentArea {
  margin: 10px;
}
