.clientMypage_container {
  /* position: relative; */
  margin-top: 200px;
  min-height: 1000px;
}

.clientMypage_row h1 {
  color: white;
  margin-bottom: 30px;
}


.clientSide_btn span {  
  color: white;
}

.clientSide_btn {
  width: 200px;
  padding: 10px 50px;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: none;
  color: inherit;
  border: 3px solid white;
}

.clientSide_btn:hover {
  transform: scale(1.1);
}

.accordion {
  margin-top: 20px;
}

.clientMypage_accordion {
  margin-top: 20px;
}
