.supplierMypage_container {
  /* position: relative; */
  margin-top: 200px;
  height: 1000px;
}

.supplierMypage_row h1 {
  color: white;
  margin-bottom: 30px;
}

.supplier_header {
  width: 930px;
}

.profile-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(270px, 500px));
  padding:20px 0;
}

.profile-content_card-container {
  text-align: center;
  padding: 20px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background-color: white;
}

.accordion {
  margin-top: 20px;
}

.supplierMypage_accordion {
  margin-top: 20px;
}
