.supplierMypage_container {
  position: relative;
  margin-top: 200px;
  height: 2000px;
}

.supplierMypage_row h1 {
  color: white;
  margin-bottom: 30px;
}

.supplier_header {
  width: 930px;
}

.accordion {
  margin-top: 20px;
}

.supplierMypage_accordion {
  margin-top: 20px;
}