.creator_container {
  position: relative;
  height: 850px;
}

.creator_container h1 {
  color: #ffffff;
}
.creator-content {
  display: grid;
  grid-template-columns: repeat(5, minmax(240px, 150px));
  padding:20px 0;
  gap: 40px;
  justify-content: center;
}

.creator-content_card-container  {
  text-align: center;
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #0c0b1473;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background-color: #ffffff;
}

.creator-content_card-container:hover {
  transform: scale(1.1);
}

.viewall {  
  display: flex; 
  justify-content: center;
  margin-top: 15px;
}

.viewall span {  
  color: white;
}

.viewall_btn {
  padding: 10px 30px;
  border-radius: 15px;
  background: none;
  color: inherit;
  border: 3px solid white;
}

.viewall_btn:hover {
  transform: scale(1.1);
}



