.home_cantainer {
  position: relative;
  height: 1000px;
  background-image: url(./star.png);
  background-size: 200px;

}
.home_text1 {
  margin-top: 100px;
  text-align: center;
  margin-top: 300px;
  color: white;
  font-weight: 600;
  font-size: 3.2rem;

}

.home_text2 {
  text-align: center;
  color: white
}

