/* main page css */
.main_container Button {
  text-decoration: none;
  color: unset;
  display: inline-block;
  margin-top: 70px;
}

.header {
  position: fixed;
  z-index: 1;
  color: white;
  margin-left: 55%;
}

.upbutton {
  position : fixed;
  bottom : 130px;
  right : 50px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: rgb(60,70,78);
}

/* Home css */
.home_cantainer {
  position: relative;
  height: 850px;
  background-image: url(./star.png);
  background-size: 200px;

}
.home_text1 {
  margin-top: 100px;
  text-align: center;
  margin-top: 300px;
  color: white;
  font-weight: 600;
  font-size: 3.2rem;

}

.home_text2 {
  text-align: center;
  color: white
}

/* About css */
.about_container {
  position: relative;
  height: 850px;
}

.about_container h2 {
  color: white;
}
.about_container h1 {
  color: white;
}

/* Ads css */
.ad_container {
  position: relative;
  height: 850px;
}

.ad_container h1 {
  color: #ffffff;
}

.ad-content {
  display: grid;
  grid-template-columns: repeat(5, minmax(220px, 220px));
  padding:20px 0;
  gap: 45px;
  justify-content: center;
}

.ad-content_card-container {
  text-align: center;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #0c0b1473;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background: -webkit-linear-gradient(#ece9e6, #ffffff);
}
.ad-content_card-container:hover {
  transform: scale(1.1);
}

.ad-content_card-container img {
  height: 201px;
  margin-bottom: 10px;
}

.ad_viewall {  
  display: flex; 
  justify-content: center;

}

.ad_viewall span {  
  color: white;
}

.adviewall_btn {
  padding: 10px 30px;
  border-radius: 15px;
  background: none;
  border: 3px solid white;
}

.adviewall_btn:hover {
  transform: scale(1.1);
}

/* BusinessPartner css */
.supplier_container {
  position: relative;
  height: 850px;
}

.supplier_container h1 {
  color: #ffffff;
}
.supplier-content {
  display: grid;
  grid-template-columns: repeat(5, minmax(240px, 150px));
  padding:20px 0;
  gap: 40px;
  justify-content: center;
}

.supplier-content_card-container  {
  text-align: center;
  padding: 20px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px #0c0b1473;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  background-color: #ffffff;
}

.supplier-content_card-container:hover {
  transform: scale(1.1);
}

.supplier_viewall {  
  display: flex; 
  justify-content: center;
  margin-top: 15px;
}

.supplier_viewall span {  
  color: white;
}

.supplierviewall_btn {
  padding: 10px 30px;
  border-radius: 15px;
  background: none;
  color: inherit;
  border: 3px solid white;
}

.viewall_btn:hover {
  transform: scale(1.1);
}
